# Telegram Bot
BOT_TOKEN=8593932626:AAH-Eclc7b1FHxs-EDSyAxO33W2wIop8DPI

# Mini App URL
WEBAPP_URL=https://ads.factchain-traker.online

# Database
DATABASE_PATH=crawler.db

# Telegram API (для Pyrogram)
API_ID=your_api_id
API_HASH=your_api_hash
PHONE=your_phone

# Groq API (для AI классификации)
GROQ_API_KEY=your_groq_key
